@font-face {    
    src:url('../fonts/OpenSans-Regular.ttf');
    font-family:'OpenSans Regular';
    font-weight: normal;
}
@font-face {    
    src:url('../fonts/OpenSans-Bold.ttf');
    font-family:'OpenSans Bold';
    font-weight: bold;
}
@font-face {    
    src:url('../fonts/OpenSans-ExtraBold.ttf');
    font-family:'OpenSans ExtraBold';
    font-weight: 800;   
}
@font-face {    
    src:url('../fonts/OpenSans-Italic.ttf');
    font-family:'OpenSans Italic';
    font-weight: normal;   
}

body {
    margin: 0;    
    font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;  
    background-color: #FFFFFF;    
}
button {
   border: 0px;
   cursor: pointer;
}
input {
   border: 0px;
}
.contact-data input { 
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 18px;    
    background-color: #F2F2F2;
}
.message input { 
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 18px;    
    background-color: #F2F2F2;
}

.mailbox input {
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 16px;
    background-color: #FFFFFF;
}
/* ---------------------------------------------- HEADER */
.header {
    background-color: #F6F2F2;
    width: 100vw;    
}

.site-menu {
    display: flex;
    justify-content: center;  
    align-items: center; 
    text-align: center;
    margin: 0 auto;
    width: 1249px;
    height: 89px;
    background-color: #000000;
}

.site-menu > a {        
    padding: 42px 25px 28px;    
    color: #e0e0e0;    
    font-size: 14px;
    font-family:'OpenSans Bold', Helvetica, Arial, sans-serif; 
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.site-menu > a:hover {
    background-color: #FF2D2D;
}

/* ---------------------------------------------- INTRO */
.intro-background {
    background-color: #F6F2F2;
    width: 100vw;
}
.intro {  
    display: flex;    
    flex-wrap: wrap;  
    align-items: center; 
    margin: 0 auto;
    background-color: #F6F2F2;        
    width: 1249px;        
    padding: 108px 0 123px;    
}

.intro-wrapper {            
    display: flex;
    flex-direction: column;       
    width: 50%;    
    margin-right: 68px;
    color: #000000;
}

.intro-wrapper h1 {
    margin: 0;        
    font-size: 60px;    
    font-family:'OpenSans ExtraBold', Helvetica, Arial, sans-serif; 
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 35px;    
}

.intro-text {    
    margin-bottom: 58px;    
}

.contact-link {
        border-radius: 5px;
        color: #ffffff;    
        background-color: #FF2D2D;
        width: 227px;
        padding: 22px 0;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
}

.intro-image {          
    width: 551px;
    height: 356px;        
}

/*------------------------------------------------PROVIDE */
.provide {  
    display: flex;    
    flex-wrap: nowrap;  
    align-items: center;    
    margin: 0 auto;
    background-color: #FFFFFF;        
    width: 1249px;  
    border-bottom: 1px solid #ececec;
}
.provide-wrapper {            
    display: flex;
    flex-direction: column;       
    width: 50vw;    
    margin-right: 68px;    
    color: #000000;
    padding: 108px 0 183px; 
}
.provide-wrapper h2 {
    margin: 0;        
    font-size: 42px;    
    font-family:'OpenSans Bold', Helvetica, Arial, sans-serif;     
    text-transform: uppercase;
    margin-bottom: 35px;    
}
.provide-text {    
    font-size: 16px;    
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    margin-bottom: 58px;    
}
.provide-link {
    color: #FF2D2D;    
    border: 2px solid #FF2D2D;
    border-radius: 5px;     
    background-color: #FFFFFF;
    width: 227px;
    padding: 22px 0;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.sevices-wrapper {  
    display: flex;    
    flex-wrap: wrap;          
    width: 50vw;         
    padding: 108px 0 80px 0; 
}
.sevices {
    flex: 1 1 288px;
    padding-top: 10px;
}
.sevices h2 {
    margin: 0;        
    font-size: 24px;    
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: 600;         
}
.sevices-text {
    font-size: 16px;    
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
}

/* ----------------------------------------------- FEATURE */
.feature {
    display: flex;        
    flex-direction: column;    
    align-items: center;        
    margin: 0 auto;
    background-color: #FFFFFF;        
    width: 1249px;  
    padding: 40px 0 40px;    
}
.feature h2 {    
    font-size: 42px;    
    font-family:'OpenSans Bold', Helvetica, Arial, sans-serif;     
    text-transform: uppercase;
    margin-bottom: 0px;   
}
.feature-text {
    text-align: center;        
    margin-bottom: 33px;   
}
.header-line {
    width: 122px;
    height: 3px;
    background-color: #ff2d2d;
    border: none;
}
.feature-menu {
    display: flex;
    justify-content: center;  
    align-items: center; 
    text-align: center;
    margin: 0 auto;
    width: 1249px;    
}
.feature-menu > a {        
    padding: 42px 25px 28px;    
    color: #000000;    
    font-size: 22px;
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}
.feature-menu > a:hover {
    color: #FF2D2D;    
}

.featurebox {
    display: flex;
    flex-wrap: wrap;        
    align-items: center;
    margin: 0 auto;
    background-color: #FFFFFF;        
    width: 1249px;      
}
.bluebox {    
    flex:1 1 290px;   
    width: 290px;
    height: 290px;     
    background-color: #4D88F4;
    margin: 10px;    
}

/* ----------------------------------------------- MEET */
.meet {
    display: flex;        
    flex-direction: column;    
    margin: 0 auto;
    background-color: #FFFFFF;        
    width: 1249px;     
    padding: 40px 0 40px;      
}
.meet-line {
    margin-left: 0;
}

.meet h2 {
    font-size: 41px;    
    font-family:'OpenSans Bold', Helvetica, Arial, sans-serif;     
    text-transform: uppercase;
    margin: 0;        
}
.meet-text {           
    margin-bottom: 33px;   
}
.meetbox {
    display: flex;        
    flex-direction: row;  
    margin: 0 auto;
    background-color: #FFFFFF;        
    width: 1249px;  
    padding: 0 0 123px;        
}
.left-box {
    width: 290px;
    height: 423px;         
    background-color: #FF2D2D;    
}
.right-box {
    display: flex;        
    flex-direction: column;  
    margin-left: 50px;
    background-color: #FFFFFF;            
}
.right-redbox > h3 {
    visibility: hidden;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 37px;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
}
.right-redbox:hover > h3 {
    visibility: visible;
}
.right-hibox h2 {
    margin: 0;
    font-size: 30px;    
    font-family:'OpenSans Bold', Helvetica, Arial, sans-serif;     
    text-transform: uppercase;    
}
.person-socials {
    display: flex;    
    align-items: center; 
    text-align: center;
    margin: 0 auto;    
}
.person-socials > a {            
    padding-right: 40px;
    padding-bottom: 40px;
    color: #000000;    
    font-size: 18px;
    font-family:'OpenSans Italic', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    text-decoration: none;    
}
.person-socials > a:hover {
    color: #FF2D2D;    
}
.right-lowbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;            
    background-color: #FFFFFF;            
}
.right-redbox {
    position: relative;
    margin-top: 18px;
    margin-right: 18px;
}
.right-redbox-foto {
    display: block;
    width: 197px;
    height: 206px;
    background-color: #FF2D2D;
}
/* -----------------------------------------------SUBSCRIBE */ 
.subscribe {
    display: flex; 
    flex-direction: column;  
    align-items: center;   
    margin: 0 auto;
    width: 1579px;
    height: 516px;
    background-color: #313030;
 }   
.subscribe h5 {
    font-size: 42px;    
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif;     
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1.05px;
    margin-top: 120px;    
    margin-bottom: 10px;
} 
.subscribe p {
    text-align: center;        
    color: #FFFFFF;
    font-size: 15px;
    margin-top: 0;   
    margin-bottom: 50px;
}
.subscribe-form {
    display: flex;     
    align-items: center; 
    margin: 0 auto;
    background-color: #313030;    
}
.mailbox{
    width: 524px;
    border-radius: 5px;
    padding: 30px 30px;
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 16px;
    background-color: #FFFFFF;
    margin-right: 20px;
}
.subscribe-link {    
    border-radius: 5px;
    width: 217px;    
    padding: 30px 0;
    background-color: #FF2D2D;
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.05px;
    color: #ffffff;            
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;        
}

/* ----------------------------------------------- CONTACT */
.contact {
    display: flex;        
    flex-direction: row;    
    margin: 0 auto;
    background-color: #FFFFFF;        
    width: 1568px;   
    padding: 80px 0 123px;    
 }   
 .contact-line {
    margin-left: 0;
    margin-bottom: 75px;
 }
 .contact-left {
    display: flex;        
    flex-direction: column;    
    margin: 0 auto;
    background-color: #FFFFFF;        
    width: 60vw;  
    padding-left: 164px; 
 }
 .contact h6 {
    font-size: 41px;    
    font-family:'OpenSans Bold', Helvetica, Arial, sans-serif;     
    text-transform: uppercase;
    margin: 0;   
 }
.contact-text {    
    margin-bottom: 43px;  
    font-size: 15.5px;
}
.contact-form {
    display: flex;        
    flex-direction: column;    
    margin: 0px;    
    width: 734px;       
    background-color: #FFFFFF;            
}
.contact-data {
    display: flex;     
    align-items: center;             
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 18px;
    background-color: #FFFFFF;    
}
.contact-name {
    border-radius: 10px;
    width: 342px;
    padding: 30px 50px;
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 18px;    
    margin-right: 51px;
    background-color: #F2F2F2;
}
.contact-mail {
    border-radius: 10px;
    width: 342px;
    padding: 30px 50px;
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 18px;        
    background-color: #F2F2F2;
}
.message {
    border-radius: 10px;
    margin-top: 43px;    
    height: 252px;     
    padding: 30px 50px;
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 18px;  
    background-color: #F2F2F2;
}
.message-link {
    border-radius: 5px;
    margin-top: 43px;    
    padding: 30px 0;
    background-color: #FF2D2D;
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.05px;
    color: #ffffff;            
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;      
}
.contact-rigth {
    width: 880px;
    height: 567px;
    margin-top: 268px; 
    margin-left: 104px;    
    background-color: #2D2D2D;       
}
.contact-rigth h6 {
    font-size: 18px;    
    font-family:'OpenSans Bold', Helvetica, Arial, sans-serif;     
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    padding-top: 140px;
    padding-left: 80px;    
}
.contact-addr {    
    padding-top: 10px;    
    padding-left: 80px;        
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-size: 16px;
    color: #ffffff;            
}
.contact-pmail {
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-size: 16px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 80px;    
    padding-top: 0px;
    padding-bottom: 0px;
}
.contact-pphone {
    margin-top: 0px;
    margin-bottom: 0px;         
    font-family:'OpenSans Regular', Helvetica, Arial, sans-serif; 
    font-size: 16px;
    color: #ffffff;
    padding-left: 80px;    
}

/* ----------------------------------------------- FOOTER */
.footer-rect {
    display: flex;    
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    margin: 0 auto;
    width: 1586px;    
    height: 113px;
    background-color: #313030;
}

.copyright {
    padding-left: 171px;
    padding-top: 53px;
    padding-bottom: 34px;
    font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;  
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #B8B8B8;
}

.footer-icons {       
    padding: 48px 168px 32px;  
}

.footer-icons > a {       
    padding: 0px 8px; 
    width: 33px;
    height: 33px;
}

/* ----------------------------------------------- MEDIA */
@media screen and (max-width: 1500px) {
    .footer-rect {        
        width: 99vw;        
    }    
    .footer-icons {       
        padding: 48px 50px 32px;      
    }
    .copyright {
        padding-left: 50px;
    }
    .subscribe {
        width: 90vw;
    }
    .contact-left {
        padding: 0px;
        margin: 0;        
    }
    .contact-rigth {
        margin-left: 0px;    
        width: 50vw;
    }
    .contact-form {
        width: 50vw;
    }
}
    
@media screen and (max-width: 1250px) {
    .site-menu {
        width: 99vw;
    }
    .intro { 
        flex-wrap: nowrap;                
        width: 95vw;
        margin-left: 10px;
    }         
    .intro-wrapper  {
        margin-right: 18px;
    }
    .intro-wrapper h1 {
        font-size: 5vw;        
    }        
    .intro-image {
        width: 48vw;
        height: 35vw;
    }
    .provide {
        margin-left: 10px;
    }
    .sevices-wrapper { 
        width: 35vw;                
    }     
    .feature {
        width: 90vw;
    }
    .feature-text {
        width: 90vw;        
    }
    .featurebox {
        width: 90vw;
    }
    .feature-menu {
        width: 90vw;
    }
    .feature-menu a {    
        padding: 12px 15px 18px;
        font-size: 2.5vw;
    }
    .meet {
        margin-left: 10px;
    }
    .meetbox {
        margin-left: 10px;
    }
    .left-box {
        width: 40vw;
    }
    .right-hibox {
        width: 40vw;
    }    
    .right-lowbox {
        width: 50vw;
    }
    .subscribe-form {
        flex-direction: column;
        align-items: center;
    }
    .mailbox { 
        margin-right: 0;
        margin-top: 10px;
        width: 70vw;
    }
    .subscribe-link {
        margin-top: 10px;  
    }
    .subscribe h5 {
        font-size: 3vw;
    }    
    .contact {
        flex-direction: column;          
        margin-left: 10px;
    }    
    .contact-rigth { 
        margin: 10px 0 0 0;       
        width: 90vw;
    }
    .contact-form {
        margin: 10px 0 0 0;       
        width: 90vw;
    }
}

@media screen and (max-width: 700px) {
    .site-menu > a {        
        padding: 42px 10px 34px;            
        font-size: 11px;        
    }
    .intro { 
        flex-wrap: wrap;                
    }     
    .intro-wrapper h1 {
        width: 100vw;   
        font-size: 10vw;        
    }    
    .intro-text {    
        width: 95vw;
        font-size: 4vw;
        word-wrap: break-word;
    }    
    .intro-image {
        margin-top: 20px;
        width: 98vw;        
        height: 70vw;   
    }
    .provide-wrapper {
        margin-right: 10px; 
    }        
    .meet {
        padding: 0px;
        margin: 0px;
        width: 90vw;
    }
    .meetbox {
        flex-direction: column;
    }
    .left-box {
        width: 90vw;
    }
    .right-hibox {
        width: 90vw;
    }    
    .right-lowbox {
        width: 90vw;
    }
    .subscribe h5 {
        font-size: 5vw;
    }        
    .contact {
        flex-direction: column;  
    }
}

@media screen and (max-width: 500px) {             
    .footer-icons {       
        padding: 48px 20px 32px;              
    }
    .footer-icons > a {       
        padding: 0px 4px;     
    }
    .copyright {
        padding-left: 20px;
        font-size: 9px;
    }
    .provide {        
        flex-direction: column;
        align-items: flex-start;        
    }
    .provide-wrapper {               
        width: 95vw;
        padding: 108px 0 0px;
    }
    .sevices-wrapper {
        width: 95vw;
    }
    .feature-text {
        font-size: 4vw;
    }
    .right-hibox h4 {
        font-size: 4vw;
    }
}
